body {margin: 0px;}
@font-face {
    font-family: mmcregular;
    src: url(mmc-regular.otf);
}
#container {
    background-color: white;
    border: 1px solid gray;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 250px;
	pointer-events: none;
}

#container * {
    position: absolute;
}

.bg,#clickthru{
    width: 300px;
    height: 250px;
}
#clickthru,.knob,#cta{
	pointer-events: auto;
}
/*SPRITE*/
.sprite { background: url('sprite.png') no-repeat top left; width: 234px; height: 221px; background-size: 234px 221px;  } 
.sprite.cta-hover { background-position: 0 0; width: 53px; height: 28px; } 
.sprite.cta-text { background-position: 0 -33px; width: 53px; height: 28px; } 
.sprite.legal { background-position: 0 -66px; width: 46px; height: 9px; } 
.sprite.model { background-position: 0 -80px; width: 121px; height: 14px; } 
.sprite.t1 { background-position: 0 -99px; width: 234px; height: 44px; } 
.sprite.t2-1 { background-position: 0 -148px; width: 106px; height: 14px; } 
.sprite.t2-2 { background-position: 0 -167px; width: 122px; height: 14px; } 
.sprite.t3 { background-position: 0 -186px; width: 122px; height: 35px; } 

/*SPRITE POSITION*/
img {width: 100%;}
#cta{
        top: 149px;
        left: 210px;
}

.cta-text, .cta-hover{
        left: 11px;
        top: 3px;
}

.cta-bg{
    background-color:#686d71;
    border-radius: 4px;
    border: 1px solid #686d71;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 75px;
    height: 32px;
}


#progress-bar{
       top: 82px;
       left: 6px;
       width: 285px;
       height: 10px;
}
.bar{
    background-color:#bfc2c4;
    border-radius: 4px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 285px;
    height: 6px;
    top: 6px;
    left: 0px;
    overflow: auto;
}
.progress-meter{
    background-color:#ed0000;
    border-radius: 4px;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 285px;
    height: 6px;
    top: 6px;
    left: 0px;
}


.logoContainer{
    background-color:black;
    width: 300px;
    height: 55px;
    left: 0px;
    top: 194px;
}

.sprite.legal {left: 5px;top: 6px;} 
.logo {left: 247px;top: 6px;width: 40px;height: 44px;} 
.sprite.model {left: 12px;top: 212px;} 
.shadow {left: -2px;top: -2px;width: 83px;} 
.sprite.t1 {left: 13px;top: 136px;} 
.sprite.t2-1 {left: 12px;top: 25px;} 
.sprite.t2-2 {left: 164px;top: 25px;} 
.sprite.t3 {left: 166px;top: 106px;} 
.car {left: -2px;top: 116px;width: 191px;height: 80px;} 
.redLine {background-color: #ed0000;width: 134px;height: 1px;top: 39px;left: 0px;}

#textOneContainer {
    top: 33px;
    left: 13px;
}
#textOne {
    font-size: 27px;
    position: relative;
}
#textOne sup{
	font-size: 19px;
}
#textTwoContainer {
    top: 28px;
    left: 161px;
}
#textTwo {
    position: relative;
    font-size: 49px;
}
#textTwo sup{
	font-size: 16px;
	top: 11px;
}
#textTwo .dollar{
	font-size: 25px;
	top: 0px;
	position: relative;
}
#textOneContainer ,#textTwoContainer {
	font-family: mmcregular;
	font-size: 12px;
	text-align: left;
}
.knob{
	left: 0;
	top: -4px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #ed0000;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(56, 172, 255, 0);
}
.reddot,.tryme {left: 0;top: 0px;width: 26px;height: 26px;} 